<% @questions.each do |question| %>
  <%= simple_form_for(@answer) do |f| %>
      <h3><%= question.title %></h3>
          <%= f.input :value, :collection => ["1","2","3","4","5"], :as => :radio_buttons, :selected => "1" %>

          <div class="submission">
          </div>

  <% end %>
<% end %>
